@import 'tailwindcss';

:root {
  --text: #2a1a12;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;

  /* 브랜드 컬러 */
  --color-title: #2a1a12;
  --color-primary-button-border: #dbba24;
  --color-primary-button-background: #ffc533;
  --color-primary-button-text: #2a1a12;

  --color-secondary-button-border: #ada9a0;
  --color-secondary-button-background: #ffffff;
  --color-secondary-button-text: #2a1a12;

  --font-sans: 'Pretendard', 'Noto Sans KR', system-ui, sans-serif;
  --font-serif: 'Noto Serif KR', '나눔명조', serif;

  --width-left-section: 580px;

  font: 16px/1.5 theme(--font-sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #2a1a12;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: #fffdf4;
}

#root {
  min-height: 100%;
}

a {
  color: inherit;
}
